div{
    
}
body
{
    background-image: url("/images/amy-humphries-2M_sDJ_agvs-unsplash.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color:rgb(0, 0, 0);
}
img{
    width: 300px;
}
.custom-p {
    font-weight: bold;
}
.icon {
    width: 30px;
    height: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10%;}
     /* Styles for screens larger than 600px */
     @media (min-width: 600px) {
        body
{
    background-image: url("/images/amy-humphries-2M_sDJ_agvs-unsplash.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color:rgb(255, 255, 255);
}
img{
    width: 100px;
}
.custom-p {
    font-weight: bold;
}
.icon {
    width: 30px;
    height: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10%;}
     }
